.sidebar {
    height: 100vh; /* Full height for the sidebar */
}

.card {
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.table {
    margin-bottom: 0; /* Remove bottom margin to fit nicely inside card */
}

thead {
    background-color: #343a40; /* Darker header */
}

.badge {
    font-size: 1rem; /* Adjust font size for badges */
}

.btn-danger {
    margin-left: 10px; /* Spacing between buttons */
}


.table th {
    text-align: center;
}

.table td {
    text-align: center;
}

.header {
    background-color: #f8f9fa;
}

.btn-success i,
.btn-danger i {
    font-size: 1rem; /* Adjust icon size if needed */
}

.custom-btn {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    font-size: 18px; /* Adjust the font size as needed */
    margin-top: 1px;
}

.btn-danger {
    margin-left: 10px; /* Spacing between buttons */
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    font-size: 18px; /* Adjust the font size as needed */
    margin-top: 1px;
}

.row {
    justify-content: center;
}


.table-responsive {
    max-height: 650px; /* Set the desired maximum height of the table */
    overflow-y: auto; /* Enable vertical scrolling */
  }

  .table-responsive::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }

  .table-responsive::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the track (the area behind the scrollbar) */
  }

  .table-responsive::-webkit-scrollbar-thumb {
    background-color: #adadad77; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners of the scrollbar thumb */
  }

  .table-responsive::-webkit-scrollbar-thumb:hover {
    background-color: #adadad; /* Color of the scrollbar thumb on hover */
  }

  .header-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem; /* Adjust space as needed */
  }
  
  .search-bar {
    position: relative;
    width: 300px; /* Adjust width as needed */
  }
  
  .search-bar input {
    width: 100%; /* Full width */
    padding-right: 30px; /* Space for the icon */
  }
  
  .search-bar i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
  }

  .text-center {
    color: #ffffff;
  }

  .card-title {
    color: black;
  }

  .card-text {
    color: black;
  }

